# Discrete Reduction of Combinations

In mathematics and computer science, evaluating all combinations on a given number of events and outcomes can be costly, and for a very large number of events and outcomes, it can even become impossible. This notebook presents a method to reduce the total number of combinations by breaking them down into its multisets.
A subset of combinations can be represented by a multiset and its permutations, the latter only rearranging all elements of the multiset.
The product of the outcomes' probabilities makes up the combination's probability. However, as the multiset only rearranges the outcomes, therefore the probability of each multiset can be weighted with its number of permutations. The latter reduces the cycle evaluation significantly.

    1.  Computing the number of all combinations on a given number of events and outcomes where the order does matter and elements can repeat.
    2a. Computing the number of all multisets on a given number of events and outcomes where the order does not matter, elements can repeat, but the element's count does matter.
    2b. Computing the permutations of a given multiset.
    2c. Breaking the total number of combinations down into their multiset's permutations.

# Imports

In [3]:
import sys
import math
import pandas as pd
sys.path.insert(0, 'lib\\')
import CombinationCreation as Cb

myNumOfEvents           = 4
myNumofOutComes         = 3
myCombinationCreator    = Cb.CombinationCreator(myNumOfEvents,myNumofOutComes)

# 1. Computing the number of all combinations on a given number of events and outcomes where the order does matter and elements can repeat

Let numOutcomes be the number of outcomes for each event and let numEvent be the number of events.
Furthermore, elements can repeat and the order of the elements matters.

 - The total cycle represents all combinations and can be evaluated by:
$$ totalCombinationsWithOrder = {numOutcomes}^{numEvents}$$

Here the order is relevant hence, combination = [1,2,3,4,5] is not equal to combination = [5,4,3,2,1].

In [4]:
(myCombinationCreator.getMatrixValuesBasedOnF(lambda outcome, event: (outcome ** event), 10, 10).style.format("{:,.0f}"))

On 10 outcomes on 10 events, there are 10 billion combinations to cycle through. If the outcomes' probabilities are equal, then a general formula (see [here](https://nbviewer.org/github/Gordi33/The-Laws-of-the-Game/blob/master/DistributionComputation.ipynb)) can be used to compute the distribution of the outcomes. If probabilities differ, then a cycle-evaluation can be used to determine the distribution.

# 2a. Computing the number of all multisets on a given number of events and outcomes where the order does **not** matter, elements can repeat, but the element's count does matter

Let numOutcomes be the number of outcomes for each event and let numEvent be the number of events.
Furthermore, elements can repeat, the order of the elements does not matter, but the count of each element does matter. This combination is called a multiset. The total number of multisets in a cycle can be computed then by

$$\hspace{10mm}totalMultisets = \binom{numEvents + numOutcomes - 1}{numEvents}$$

In [5]:
(myCombinationCreator.getMatrixValuesBasedOnF(lambda outcome, event: (math.comb(outcome + event - 1, event)),10,10).style.format("{:,.0f}"))

On 10 outcomes on 10 events, the number of multisets, where the order does not matter, is reduced to 92,378.

## 2b. Computing all permutations of a given multiset

The total number of permutations i.e., rearrangements of the elements of a multiset can be computed by

$$\hspace{10mm}MultisetPermutations = \frac{\text{numEvents} !}{\prod_{i=0}^{numOutcomes-1} \text{count}(\text{outcome}_i) !}$$

For example, the multiset = [1,2,2,3,3,3] counts the outcomes 1 once, 2 twice and 3 three times. Therefore, the total number of permutations is 6! / (1! * 2! * 3!) = 60.

## 2c. Breaking the total number of combinations down into their multiset's permutations

The total cycle can be represented as the sum of all multiset's permutations.

$$ totalCombinationsWithOrder = \sum_{multiset_j}^{} \hspace{0mm}Multiset_jPermutations$$
$$ {numOutcomes}^{numEvents}  = \sum_{multiset_j}^{} \hspace{0mm}\frac{\text{numEvents} !}{\prod_{i=0}^{numOutcomes-1} \text{count}(\text{outcome}_i) !}
$$

In [13]:
myNumOfEvents           = 4
myNumofOutComes         = 3
myCombinationCreator    = Cb.CombinationCreator(myNumOfEvents,myNumofOutComes)
myCombinationCreator.setMultisetMode(True)
myCombinationCreator.setSaveEventsContainer(True, None)
myCombinationCreator.createCombinations()
pd.DataFrame(myCombinationCreator.getEventsContainer()).style.hide(axis='index')

Total Combinations =  81
Total Multisets    =  15
Total Iterations     =  15
Summed Permutations   =  81

# Conclusion

Evaluating only the multisets and weighing them with their permutations reduces the cycle evaluation significantly.
Step 1 shows the total number of combinations, hence, the total cycle. The example on 4 events with 3 outcomes leads to 81 combinations.
Step 2 shows how to break those combinations down into their multisets and weigh them with their permutations.
The cycle is then presented by the sum of its multisets. This number is then reduced to 15. Instead of evaluating all 81 cobinations, only 15 need to be evaluated and weighted with their number of permutations.

The module CombinationCreation with its class CombinationCreator provide all functionality to compute the combinations and their permutations.
Setting the multiset mode to true, setMultisetMode(True), will only store and output the multiset-combinations.